/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 12px;
    line-height: 1.4;
    direction: rtl;
}

* {
    outline: none;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: pink;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Angular Styles
   ========================================================================== */

   input.ng-invalid.ng-dirty {
        outline: red solid 1px;
   }
   input.ng-valid.ng-dirty {
        outline: green solid 1px;
   }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    overflow: hidden;
}

#menu {
    width: 800px;
    margin: 0 auto;
}
#wrapper {
    width: 782px;
    height: 616px;
    margin: 0 auto;
    background: white;
    position: relative;
    overflow: hidden;
}



/* =====================================
   Inner General
   ===================================== */

#page_inner {
    height: 616px;
    background: url(../img/inner_bg.jpg) no-repeat center center;
    position: relative;
    color: white;
}

/* =====================================
   Sketch Design
   ===================================== */

#templateImageSelect {
    position: absolute;
    left: 50%;
}

#templateImageSelect .templ{
    height:20px;
    width: 20px;
    float: left;
    border-radius: 6px;
    margin: 0;
    border: transparent solid 2px;
    display: block;
}

#templateImageSelect .templ.active {
    border: #b6272e solid 2px;
}

.imageTemplateRadio {
    display: none;
}
.imageTemplateLabel {
    display: block;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
    width: 20px;
    height: 20px;
    background: red;
    line-height: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.imageTemplateLabel img {
    display: block;
}
.templatePreview #editor {
    position: absolute;
    top: 22px;
    left: 296px;
    width: 330px;
    height: 220px;
    direction:ltr; 
    border: #333 solid 1px;
}
.templatePreview #editor.true{
    z-index: 3;
    background: rgba(255, 255, 255, 0.6);
}
.templatePreview #editor.false{
    z-index: 2;
}

.templatePreview #imageTextInput{
    position: absolute;
    top: 40px;
    left: 320px;
    width: 274px;
    height: 174px;
    resize: none;
    z-index: 4;
    background: transparent;
    color: black;
    text-align: center;
    line-height: 58px;
    font-size: 41px;
    overflow: hidden;
}
.templatePreview #imageTextInput.true {
    border-style: dashed;
    border-width: 6px;
    color: black;
    border-color: black;
    z-index: 3;
}
.templatePreview #imageTextInput.true.tpl1, 
.templatePreview #imageTextInput.tpl1{
    font-family: 'ghaim';
}
.templatePreview #imageTextInput.true.tpl2, 
.templatePreview #imageTextInput.tpl2{
    font-family: 'ghaim';
}
.templatePreview #imageTextInput.true.tpl3, 
.templatePreview #imageTextInput.tpl3{
    font-family: 'ghaim';
}
.templatePreview #imageTextInput.tpl1::-webkit-input-placeholder,
.templatePreview #imageTextInput.tpl2::-webkit-input-placeholder, 
.templatePreview #imageTextInput.tpl3::-webkit-input-placeholder{
    color: black;
}
.templatePreview #imageTextInput.false{
    border: transparent 6px dashed;
    z-index: 2;
    color: black;
}
.templatePreview #imageTextInput::-webkit-input-placeholder {
    text-align: center;
    line-height: 174px;
}
.templatePreview #imageTextInput.false::-webkit-input-placeholder {
    color: transparent;
}
.templatePreview {
    position: absolute;
    overflow: hidden;
    left: 47px;
    top: 118px;
    width: 651px;
    height: 240px;
    background: transparent url(../img/templ_bg.png) no-repeat center center;
    padding: 12px 13px 11px 13px;
}

.templatePreview .templateImagePreview { position: absolute; z-index: 1;}
.templatePreview .templateSketchPreview { position: absolute; z-index: 2; height: 180px; width: 180px; border: transparent solid 1px;}
.templatePreview .templateSketchPreview:hover {border: blue dotted 1px;}
.templatePreview .templateSketchPreview *:hover {cursor: move;}
.templatePreview .templateTextPreview { position: absolute; z-index: 3; border: transparent solid 1px; font-size: 26px; font-weight: bold; font-family: arial,helvetica; padding: 0 6px 0 0;}
.templatePreview .templateTextPreview:hover { border: blue dotted 1px; cursor: move;}


#next_step1 {
    position: absolute;
    border: none;
    left: 0px;
    background: red;
    color: white;
    display: block;
    height: 20px;
    padding: 0 6px;
    border-radius: 6px;
    text-align: center;
}

#modeSelect {
    position: absolute;
    right: 0px;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    background: red;
    color: white;
    padding: 0 6px;
    text-align: center;
}

.steps {
    position: absolute;
    top: 390px;
    width: 677px;
    left: 47px;
    height: 141px;
}


/* =====================================
   Gallery
   ===================================== */

#galleryWrapper {
    width: 673px;
    height: 330px;
    overflow: hidden;
    position: absolute;
    top: 115px;
    left: 54px;
    outline:red solid 1px;
}


   /* ==========================================================================
   Jquery UI RTL Fix
   ========================================================================== */

.ui-tabs { direction: rtl; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs .ui-tabs-nav li.ui-state-default {float: right; }
.ui-tabs .ui-tabs-nav li a { float: right; }




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
