#templateImageSelect {
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -50px;
}

#templateImageSelect .templ{
    height:36px;
    width: 34px;
    float: left;
    border-radius: 6px;
    margin: 0;
    border: transparent solid 2px;
    display: block;
}

#templateImageSelect .templ.active {
    border: #b6272e solid 2px;
}

.imageTemplateRadio {
    display: none;
}
.imageTemplateLabel {
    display: block;
    overflow: hidden;
}
.imageTemplateLabel img {
    display: block;
}
.templatePreview #editor {
    position: absolute;
    top: 22px;
    left: 296px;
    width: 330px;
    height: 220px;
    direction:ltr; 
    border: transparent solid 1px;
}
.templatePreview #editor.true{
    z-index: 3;
    background: rgba(255, 255, 255, 0.6);
    border: #666 solid 1px;
}
.templatePreview #editor.false{
    z-index: 2;
}

.templatePreview #imageTextInput{
    position: absolute;
    top: 40px;
    left: 320px;
    width: 274px;
    height: 174px;
    resize: none;
    z-index: 4;
    background: transparent;
    color: black;
    text-align: right;
    letter-spacing: -1px;
    line-height: 55px;
    font-size: 56px;
    overflow: hidden;
}
.templatePreview #imageTextInput.true {
    border-style: dashed;
    border-width: 6px;
    color: black;
    border-color: black;
    z-index: 3;
}
.templatePreview #imageTextInput.true.tpl1, 
.templatePreview #imageTextInput.tpl1{
    font-family: 'sixseven_old';
}
.templatePreview #imageTextInput.true.tpl2, 
.templatePreview #imageTextInput.tpl2{
    font-family: 'sixseven_old';
}
.templatePreview #imageTextInput.true.tpl3, 
.templatePreview #imageTextInput.tpl3{
    font-family: 'sixseven_old';
}
.templatePreview #imageTextInput.tpl1::-webkit-input-placeholder,
.templatePreview #imageTextInput.tpl2::-webkit-input-placeholder, 
.templatePreview #imageTextInput.tpl3::-webkit-input-placeholder{
    color: black;
}
.templatePreview #imageTextInput.false{
    border: transparent 6px dashed;
    z-index: 2;
    color: black;
}
.templatePreview #imageTextInput::-webkit-input-placeholder {
    text-align: center;
    line-height: 174px;
}
.templatePreview #imageTextInput.false::-webkit-input-placeholder {
    color: transparent;
}
.templatePreview {
    position: absolute;
    overflow: hidden;
    left: 47px;
    top: 118px;
    width: 651px;
    height: 240px;
    background: transparent url(../img/templ_bg.png) no-repeat center center;
    padding: 12px 13px 11px 13px;
}

.templatePreview .templateImagePreview { position: absolute; z-index: 1;}
.templatePreview .templateSketchPreview { position: absolute; z-index: 2; height: 180px; width: 180px; border: transparent solid 1px;}
.templatePreview .templateSketchPreview:hover {border: blue dotted 1px;}
.templatePreview .templateSketchPreview *:hover {cursor: move;}
.templatePreview .templateTextPreview { position: absolute; z-index: 3; border: transparent solid 1px; font-size: 26px; font-weight: bold; font-family: arial,helvetica; padding: 0 6px 0 0;}
.templatePreview .templateTextPreview:hover { border: blue dotted 1px; cursor: move;}


#next_step1 {
    position: absolute;
    left: 0px;
}

.button_next {
    display: block;
    background: transparent url(../img/button_form_next.png) no-repeat center center;
    width: 68px;
    height: 37px;
    cursor: pointer;
    border: none;
}

.button_number {
    width: 25px;
    height: 25px;
    line-height: 29px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 1px 8px 10px 1px;
    cursor: pointer;
    background: transparent url(../img/button_number.png) no-repeat center center;
}

.button_edit_text {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 1px 8px 10px 1px;
    cursor: pointer;
    background: transparent url(../img/button_edit_text.png) no-repeat center center;
}

.button_edit_draw {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 1px 8px 10px 1px;
    cursor: pointer;
    background: transparent url(../img/button_edit_draw.png) no-repeat center center;
}

#editTools *{
    float: right;
}

#modeSelect {
    position: absolute;
    right: 0px;
    border-radius: 6px;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    background: red;
    color: white;
    padding: 0 6px;
    text-align: center;
}

.steps {
    position: absolute;
    top: 390px;
    width: 677px;
    left: 47px;
    height: 141px;
}

.ui-dialog {
    background: transparent url(../img/dialog_sketch.jpg) no-repeat center center;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    top: 125px;
}
.ui-dialog-titlebar {
    border: none;
    background: none;
}

.ui-dialog-content.ui-widget-content {
    overflow: hidden;
    position: relative;
    color: white;
    font-size: 18px;
    text-align: right;
    font-family: 'aduma';
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    width: 33px;
    height: 33px;
    background: transparent url(../img/dialog_close.png) no-repeat center center;
    border: none;
    padding: 0;
    top: 0;
    right: 499px;
    margin: 0;
    display: block;
    border-radius: 0;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: none;
}

#orderWrapper {
    width: 415px;
    margin: 0 auto;
}

#orderWrapper .orderTitle {
    font-size: 28px;
    text-align: right;
}

#orderWrapper .order_inputs input {
    height: 17px;
    font-size: 12px;
    color: #444;
    line-height: 17px;
    background: white;
    border: red solid 1px;
    padding: 0 5px;
    display: inline-block;
    margin: 0;
}

#orderWrapper .order_inputs label {
    display: inline-block;
}

#orderWrapper label {
    font-size: ;
}

#orderWrapper button {
    position: absolute;
    bottom: 15px;
    left: 75px;
}

#thankyouWrapper {
    width: 415px;
    height: 240px;
    margin: 0 auto;
}

#thankyouWrapper .thankyouTitle {
    width: 415px;
    position: relative;
    text-align: center;
    top:94px;
    font-size: 28px;
}

#orderWrapper .order_inputs input[type=text].ng-invalid.ng-dirty, 
#orderWrapper .order_inputs input[type=email].ng-invalid.ng-dirty,
#orderWrapper .order_inputs input[type=number].ng-invalid.ng-dirty{
    outline: none;
    background: #ffcccc;
}
#orderWrapper .order_inputs  input[type=text].ng-valid.ng-dirty,
#orderWrapper .order_inputs  input[type=email].ng-valid.ng-dirty,
#orderWrapper .order_inputs  input[type=number].ng-valid.ng-dirty {
    outline: none;
    background: #ccffcc;
}