<script>
	$('#loginDialog').dialog('destroy');
	$('#orderDialog').dialog('destroy');
	$('#thankyouDialog').dialog('destroy');
</script>
<link rel="stylesheet" href="//www.myshelly.org.il/css/gallery.css">
<div id="page_inner">
	<div
		id="galleryWrapper">
		<div 
			class="galleryImage img_{{$index}}"
			ng-repeat="image in currentSet">
			<img 
				ng-src="{{image.thumbnailPath}}" 
				width="295" 
				height="109" 
				ng-click="zoom($index)"/>
			<div 
				class="galleryImage_name">{{image.name}}</div>
			<div
				class="galleryImage_zoom" 
				ng-click="zoom($index)"></div>
			<div
				class="galleryImage_share" 
				ng-click="shareFB(image.imageId)">שתפו</div>
		</div>
	</div>
	<div id="galleryControls">
		<a 
			ng-click="page('prev')">&lt;</a>
		<span 
			ng-repeat="ipage in pagination.pages">
			<a 
				class="number {{ipage.active}}"
				ng-disabled="{{ipage.active}}"
				ng-click="page(ipage.number)">{{ipage.number}}</a>|
		</span>
		<a 
			ng-click="page('next')">&gt;</a>
	</div>
	<div id="footer">
		<a 
			id="share" 
			ng-click="shareFB()"></a>
		<a 
			id="navHome" 
			href="#/main"></a>
		<a 
			id="navDonate" 
			href="http://members.havoda.org.il/volunteer" 
			target="_blank" ng-click="track('/volunteer')"></a>
		<a 
			id="logout" 
			ng-show="formData.user.fbUid > 0" 
			ng-click="$broadcast('fbLogout')">להתנתק מפייסבוק</a>
	</div>
</div>
<div>
	<div
		id="galleryDialog"
		ui-jq="dialog"
		ui-options="{title:'',autoOpen: false, height: 304, width: 668, modal: true, resizable: false, draggable: false,  position: ['center', 110] }">
		<img 
			ng-src="{{currentImage.imagePath}}" 
			width="650"
			height="241" />
		<span id="imagePop_name" >{{currentImage.name}}</span>
		<a id="imagePop_share" ng-click="shareFB(currentImage.imageId)">שתפו</a> <span id="imagePop_sep">|</span> <a id="imagePop_create" href="#/main">בוא לעצב שלט משלך</a>
	</div>
</div>