<div id="page_inner">
	<div
		id="galleryWrapper">
		<div 
			class="galleryImage img_{{$index}}"
			ng-repeat="image in currentSet">
			<img 
				ng-src="{{image.thumbnailPath}}" 
				width="295" 
				height="109" 
				ng-click="zoom($index)"/>
			<div 
				class="galleryImageName">
				{{image.name}}
			</div>
			<div 
				class="galleryImageZoom" 
				ng-click="zoom($index)">
				zoom
			</div>
		</div>
	</div>
	<div id="galleryControls">
		<a ng-click="page('next')">next</a>
		<a ng-click="page('prev')">prev</a>
	</div>
	<a href="#/main">home</a>
</div>
<div>
	<div
		id="galleryDialog"
		ui-jq="dialog"
		ui-options="{title:'please login',autoOpen: false, height: 310, width: 700, modal: true, resizable: false}">
		<img 
			ng-src="{{currentImage.imagePath}}" width="650" height="241" />
	</div>
</div>