<div id="page_inner">
	<form novalidate name="imageForm">
		<input type="text" ng-hide="true" name="sketchData" ng-model="formData.payload.imageData.data" id="sketchData"/>
		<input type="text" ng-hide="true" name="sketchTop" ng-model="formData.payload.imageData.posY" id="sketchTop" />
		<input type="text" ng-hide="true" name="sketchLeft" ng-model="formData.payload.imageData.posX" id="sketchLeft" />
		<input type="text" ng-hide="true" name="textTop" ng-model="formData.payload.imageText.posY" id="textTop" />
		<input type="text" ng-hide="true" name="textLeft" ng-model="formData.payload.imageText.posX" id="textLeft" />
		<input type="text" ng-hide="true" name="textHeight" ng-model="formData.payload.imageText.height" id="textHeight" />
		<input type="text" ng-hide="true" name="textWidth" ng-model="formData.payload.imageText.width" id="textWidth" />	
		<div class="templatePreview">
			<textarea
				class="{{!toggleText}} tpl{{currentTemplate.id}}"
				placeholder="enter text here"
				name="imageText"
				ng-model="formData.payload.imageText.text"
				ng-disabled="toggleText"
				id="imageTextInput">
			</textarea>
			<div
				id="editor"
				class="clearfix {{toggleDraw}}">
			</div>
			<img
				ng-src="{{settings.host}}{{currentTemplate.path}}" 
				class="templateImagePreview" />
		</div>
		<div id="step_1" ng-show="stepCheck(1)" class="steps">
			<input
				id="next_step1"
				type="submit" 
				value="המשך" 
				ng-click="step(2)"/>
			<div
				id="templateImageSelect"
				class="clearfix">
				<div
					ng-repeat="template in settings.templates"
					ng-click="selectTemplate($index)"
					class="templ">
						<input
							type="radio" 
							name="imageTemplate"
							value="{{template.id}}"
							ng-model="formData.payload.imageTemplate"
							class="imageTemplateRadio"
							id="imageTemplate{{template.id}}"/>
						<label
							for="imageTemplate{{template.id}}"
							class="imageTemplateLabel">{{$index+1}}
						</label>
				</div>
			</div>
			<div
				id="modeSelect"
				ng-click="toggleEditMode()">
				img {{toggleDraw}}
			</div>
		</div>
		<div id="step_2" ng-show="stepCheck(2)" class="steps">
			<input
				type="radio"
				name="orderType"
				value="Download"
				id="order_download"/>
			<label
				for="order_download">
				Download
			</label>
			<input
				type="radio"
				name="orderType"
				value="Sticker"
				id="order_sticker"/>
			<label
				for="order_sticker">
				Sticker
			</label>
			<input
				type="radio"
				name="orderType"
				id="order_sign"/>
			<label
				for="order_sign">
				Sign
			</label>
			<input
				type="radio"
				name="orderType"
				id="order_shirt"/>
			<label
				for="order_shirt">
				Shirt
			</label>
			<input
				id="next_step2"
				type="submit" 
				value="המשך" 
				ng-click="step(3)"/>
			<input
				id="next_step2"
				type="submit" 
				value="ערוך" 
				ng-click="step(1)"/>
		</div>
	</form>

	<div 
		id="loginDialog" 
		ng-controller="UserCtrl" 
		ui-jq="dialog" 
		ui-options="{title:'please login',autoOpen: false, height: 310, width: 700, modal: true, resizable: false, show: 'slow'}">
		<div id="loginWrapper" style="float:left; width: 331px; border-right: #333 solid 1px; height: 235px;">
			<div style="width: 212px; margin: 0 auto;">
				<div style="text-align: center;">login</div>
				<form name="loginForm">
					<input 
						type="text" 
						name="username" 
						placeholder="username"
						ng-model="loginData.email"/>
					<input 
						type="password" 
						name="password" 
						placeholder="password"
						ng-model="loginData.password"/>
					<div style="text-align: center;">
						<button ng-click="login()">login</button>
					</div>
				</form>
			</div>
			<div style="width:174px; margin: 62px auto 0 auto;">
				<span>login with facebook</span>
				<button>facebook connect</button>
			</div>
		</div>
		<div id="registerWrapper" style="float:left; width: 332px; height: 235px;">
			<div style="text-align: center;">register</div>
			<div style="width: 212px; margin: 0 auto;">
				<form name="registerForm">
					<input 
						type="text" 
						name="firstName"
						placeholder="first name"
						ng-model="registerData.firstName"
						required />
					<input
						type="text"
						name="lastName"
						placeholder="last name"
						ng-model="registerData.lastName" 
						required />
					<input
						type="number"
						name="age"
						placeholder="age"
						ng-model="registerData.age"
						min="0"
						max="99"
						ng-maxlength="2"
						required />
					<input
						type="email"
						name="email"
						placeholder="email@domain.com"
						ng-model="registerData.email"
						required />
					<input 
						type="number"
						name="phonePre"
						placeholder="kidomet"
						ng-model="registerData.phoneExt"
						ng-maxLength="3"
						required />
					<input
						type="number"
						name="phone"
						placeholder="number"
						ng-model="registerData.phone"
						ng-maxLength="7"
						required />
					<input
						type="password"
						name="password"
						placeholder="password"
						ng-model="registerData.password"
						required />
					<div style="text-align: center;">
						<button ng-click="register()">register</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div
		id="imageDialog"
		ui-jq="dialog"
		ui-options="{title:'Image created',autoOpen:false,height: 310, width: 700, modal: true, resizable: false, show: 'slow'}">
		<img ng-src="{{settings.host}}{{imageData.imagePath}}" width="580" heigth="190" />
	</div>

	<script src="js/main.js">
</div>