<script>
	$('#galleryDialog').dialog('destroy');
	$('#imageTextInput').die('keyup paste focus').live('keyup paste focus', function (e) {
        $(this).val($(this).val().replace(/([^ 0-9א-ת!?.,\n\r])/g, "")).trigger('change');
        var rows = $(this).val().split('\n');
        for(var i=0; i<rows.length;i++){
        	if (rows[i].length > 10){
        		if (rows.length < 2)
        			rows[i] = rows[i].substr(0,10) + '\n';
        		else
        			rows[i] = rows[i].substr(0,10);
        	}
        }
        var newRows = [];
        if (rows[0] != undefined && rows.length > 0)
        	newRows[0] = rows[0];
        if (rows[1] != undefined && rows.length > 1)
        	newRows[1] = rows[1];

         if (newRows[0].substr(0,5) != 'ביבי ')
         	newRows[0] = newRows[0].replace(newRows[0].substr(0,4),'ביבי ');

        $(this).val(newRows.join('\n')).trigger('change');
    });
</script>
<link rel="stylesheet" href="css/sketch.css">
<div id="page_inner" class="{{config.school}}">
	<form novalidate name="imageForm">
		<input type="text" ng-hide="true" name="sketchData" ng-model="formData.payload.imageData.data" id="sketchData"/>
		<input type="text" ng-hide="true" name="sketchTop" ng-model="formData.payload.imageData.posY" id="sketchTop" />
		<input type="text" ng-hide="true" name="sketchLeft" ng-model="formData.payload.imageData.posX" id="sketchLeft" />
		<input type="text" ng-hide="true" name="textTop" ng-model="formData.payload.imageText.posY" id="textTop" />
		<input type="text" ng-hide="true" name="textLeft" ng-model="formData.payload.imageText.posX" id="textLeft" />
		<input type="text" ng-hide="true" name="textHeight" ng-model="formData.payload.imageText.height" id="textHeight" />
		<input type="text" ng-hide="true" name="textWidth" ng-model="formData.payload.imageText.width" id="textWidth" />
		<style type="text/css">
			@font-face {
				font-family: ghaim;
				src: url("fonts/GHAIM.eot");
			}
			@font-face {
				font-family: ghaim;
				src: url("fonts/GHAIM.ttf");
			}
			@font-face {
				font-family: 'sixseven_old';
				src: url('fonts/sixtysevenfot-bold-webfont.eot');
				src: url('fonts/sixtysevenfot-bold-webfont.eot?#iefix') format('embedded-opentype'),
				url('fonts/sixtysevenfot-bold-webfont.woff') format('woff'),
				url('fonts/sixtysevenfot-bold-webfont.ttf') format('truetype'),
				url('fonts/sixtysevenfot-bold-webfont.svg#sixtysevenfot_oldregular') format('svg');
				font-weight: normal;
				font-style: normal;
			}
			@font-face {
				font-family: 'sixseven_regular';
				src: url('fonts/sixtysevenfot-regular-webfont.eot');
				src: url('fonts/sixtysevenfot-regular-webfont.eot?#iefix') format('embedded-opentype'),
				url('fonts/sixtysevenfot-regular-webfont.woff') format('woff'),
				url('fonts/sixtysevenfot-regular-webfont.ttf') format('truetype'),
				url('fonts/sixtysevenfot-regular-webfont.svg#sixtysevenfot_regularregular') format('svg');
				font-weight: normal;
				font-style: normal;
			}
			@font-face {
			    font-family: 'aduma';
			    src: url('fonts/aduma-light-webfont.eot');
			    src: url('fonts/aduma-light-webfont.eot?#iefix') format('embedded-opentype'),
			         url('fonts/aduma-light-webfont.woff') format('woff'),
			         url('fonts/aduma-light-webfont.ttf') format('truetype'),
			         url('fonts/aduma-light-webfont.svg#adumalight') format('svg');
			    font-weight: 300;
			    font-style: normal;
			}

			@font-face {
			    font-family: 'aduma';
			    src: url('fonts/aduma-regular-webfont.eot');
			    src: url('fonts/aduma-regular-webfont.eot?#iefix') format('embedded-opentype'),
			         url('fonts/aduma-regular-webfont.woff') format('woff'),
			         url('fonts/aduma-regular-webfont.ttf') format('truetype'),
			         url('fonts/aduma-regular-webfont.svg#adumaregular') format('svg');
			    font-weight: 400;
			    font-style: normal;
			}

			@font-face {
			    font-family: 'aduma';
			    src: url('fonts/aduma-medium-webfont.eot');
			    src: url('fonts/aduma-medium-webfont.eot?#iefix') format('embedded-opentype'),
			         url('fonts/aduma-medium-webfont.woff') format('woff'),
			         url('fonts/aduma-medium-webfont.ttf') format('truetype'),
			         url('fonts/aduma-medium-webfont.svg#adumamedium') format('svg');
			    font-weight: 500;
			    font-style: normal;
			}

			@font-face {
			    font-family: 'aduma';
			    src: url('fonts/aduma-bold-webfont.eot');
			    src: url('fonts/aduma-bold-webfont.eot?#iefix') format('embedded-opentype'),
			         url('fonts/aduma-bold-webfont.woff') format('woff'),
			         url('fonts/aduma-bold-webfont.ttf') format('truetype'),
			         url('fonts/aduma-bold-webfont.svg#adumabold') format('svg');
			    font-weight: 700;
			    font-style: normal;
			}

			@font-face {
			    font-family: 'aduma';
			    src: url('fonts/aduma-heavy-webfont.eot');
			    src: url('fonts/aduma-heavy-webfont.eot?#iefix') format('embedded-opentype'),
			         url('fonts/aduma-heavy-webfont.woff') format('woff'),
			         url('fonts/aduma-heavy-webfont.ttf') format('truetype'),
			         url('fonts/aduma-heavy-webfont.svg#adumaheavy') format('svg');
			    font-weight: 900;
			    font-style: normal;
			}
		</style>
		
		<div id="templateHeader" style="font-size: 30px; position: absolute; top: 80px; right: 57px; " ng-show="stepCheck(1)">1.עצבו את המסר שלכם:</div>
		<div class="templatePreview">
			<textarea
				class="area limited {{!toggleText}} tpl{{currentTemplate.id}}"
				placeholder="טקסט"
				name="imageText"
				ng-model="formData.payload.imageText.text"
				ng-disabled="toggleText"
				id="imageTextInput"
				maxRows="3"
				maxChars="30"
				required>
			</textarea>
			<div
				id="editor"
				class="clearfix {{toggleDraw}}">
			</div>
			<img
				ng-src="{{settings.host}}{{currentTemplate.path}}"
				class="templateImagePreview" />
		</div>
		
		<div id="step_1" ng-show="stepCheck(1)" class="steps">
			<input
				class="button_next"
				id="next_step0"
				type="submit" 
				value="&nbsp;" 
				ng-click="step(2)"
				ng-disabled="imageForm.$invalid"/>
			<div
				id="templateImageSelect"
				class="clearfix">
				<div
					ng-repeat="template in settings.templates"
					class="templ">
						<input
							type="radio" 
							name="imageTemplate"
							value="{{template.id}}"
							class="imageTemplateRadio"
							id="imageTemplate{{template.id}}"/>
						<label
							ng-click="selectTemplate($index)"
							for="imageTemplate{{template.id}}"
							class="imageTemplateLabel button_number">{{$index+1}}
						</label>
				</div>
				<div style="float: left; height: 30px; line-height: 30px;">החלפת רקע: </div>
			</div>
			<div id="editTools">
				<label>עריכה:</label>
				<div
					class="button_edit_draw"
					id="drawSelect"
					ng-click="toggleEditMode('draw')">
				</div>
				<div
					class="button_edit_text"
					id="textSelect"
					ng-click="toggleEditMode('text')">
				</div>
				<div
					class="button_number"
					id="clearDraw"
					ng-click="clearDraw()">
					X
				</div>
			</div>
		</div>

		<div id="step_2" ng-show="stepCheck(2)" class="steps">
			<div class="orderCover">
				<input
					type="radio"
					name="orderType"
					value="FacebookCover"
					id="order_download"
					style="visibility:hidden;"/>
				<label
					for="order_download">
					<img src="img/choice_icon_arrow.png" widt="36" height="29"><span style="border-bottom: #a81d20 solid 2px; margin: 0 10px 0 0"><a ng-click="order('dl')"  style="text-decoration: none; color: white;" >לחצו כאן</a></span> והורידו את המסר שלכם כתמונת COVER לפייסבוק ללא תרומה!!
				</label>
			</div>
			<div class="orderPrint">
				<div style="font-size: 24px;">תרמו למפלגת העבודה וקבלו את המסר שעיצבתם בדרך שתבחרו:</div>
				<div class="orderPrintOption">
					<input
						type="radio"
						name="orderType"
						ng-model="formData.order.type"
						value="Sticker"
						id="order_sticker"/>
					<label
						for="order_sticker">
						סטיקר
					</label>
				</div>
				<div class="orderPrintOption">
					<input
						type="radio"
						name="orderType"
						value="Samsonite"
						ng-model="formData.order.type"
						id="order_samsonite" checked/>
					<label
						for="order_samsonite">
						שמשונית
					</label>
				</div>
				<div class="orderPrintOption">
					<input
						type="radio"
						name="orderType"
						value="Sign"
						ng-model="formData.order.type"
						id="order_sign"/>
					<label
						for="order_sign">
						שלט לתליה
					</label>
				</div>
				<div class="orderPrintOption">
					<input
						type="radio"
						name="orderType"
						value="Shirt"
						ng-model="formData.order.type"
						id="order_shirt" checked/>
					<label
						for="order_shirt">
						חולצה
					</label>
				</div>
			</div>
			<input
				id="next_step2"
				class="next_step1"
				type="submit" 
				value="&nbsp;" 
				ng-click="order()"/>
			<input
				id="next_step1"
				class="prev_step1"
				type="submit"
				value="&nbsp;"
				ng-click="step(1)"/>
		</div>
	</form>
	<div id="footer">
		<div><a id="share" ng-click="shareFB()"></a></div>
		<div ng-hide="true"><a href="#/gallery"></a></div>
		<div><a id="logout" ng-show="formData.user.fbUid > 0" ng-click="$broadcast('fbLogout')">להתנתק מפייסבוק</a></div>
	</div>
	<script src="js/main.js"></script>
</div>

<!-- DIALOGS -->

<!-- LOGIN DIALOG -->
<div>
	<div 
		id="loginDialog" 
		ng-controller="LoginCtrl" 
		ui-jq="dialog" 
		ui-options="{title:'',autoOpen: false, height: 271, width: 532, modal: true, resizable: false, draggable: false, position: ['center', 110]}">
		<div id="loginWrapper">
			<div class="loginTitle" ng-show="!fbMode()">התחברו להורדת תמונת COVER</div>
			<div class="loginTitle" ng-show="fbMode()">על מנת להזמין את השלט שבחרתם עליכם למלא פרטים, איך תרצו להמשיך?</div>
			<button class="loginFacebook" ng-click="fbProcess()" ng-hide="uploading" ng-disabled="uploading">&nbsp;</button>
			<div class="loginLoader" ng-hide="!uploading"><img src="img/loader.gif" height="16" width="16p" style="margin: -3px 0 0 5px;" /> מעלה תמונה לאלבום הפייסבוק שלך ...</div>
			<a ng-click="order(true)" ng-show="fbMode()" class="loginSkip">להמשיך מבלי להתחבר לפייסבוק</a>
		</div>
	</div>
</div>


<div
	ng-controller="OrderCtrl">

	<!-- ORDER DIALOG -->
	<div>
		<div
			id="orderDialog"
			ui-jq="dialog"
			ui-options="{title:'',autoOpen: false, height: 271, width: 532, modal: true, resizable: false, draggable: false, position: ['center', 110]}">
			<div 
				id="orderWrapper">
				<div 
					class="orderTitle">לקבלת המסר שעיצבת השלם את הפרטים הבאים:
				</div>
				<div style="margin: -10px 0 0 0;">
					<form name="orderForm"
						novalidate>
						<label>המסר שלך יודפס על: {{formData.order.type|orderType}}</label>
						<div 
							ng-hide="showSizes()">
							<label>בחר מידה: </label>
							<div style="direction: ltr; display: inline-block;">
								<label for="size_XL">XL</label>
								<input 
									id="size_XL"
									type="radio" 
									name="shirtSize" 
									value="XL" 
									ng-model="formData.order.size" />
								<label for="size_L">L</label>
								<input 
									id="size_L"
									type="radio" 
									name="shirtSize" 
									value="L" 
									ng-model="formData.order.size" />
								<label for="size_M">M</label>
								<input 
									id="size_M"
									type="radio" 
									name="shirtSize" 
									value="M" 
									ng-model="formData.order.size" checked />
							</div>
						</div>
						<div class="order_inputs">
							<label style="width: 80px;">סכום לתרומה:</label>
							<input 
								style="width: 38px;"
								type="number"
								name="amount"
								placeholder="40"
								ng-model="formData.user.amount"
								value="{{formData.user.amount}}"
								min="40"
								max="1000"
								step="1"
								ng-pattern="/[0-9]{2}/"
								required />
							<label>ש"ח</label>
						</div>
						<div class="order_inputs">
							<label style="width: 80px;">מס' תשלומים</label>
							<select
								style="width: 50px; margin-left: 140px;"
								name="payments"
								ng-model="formData.user.payments"
								required >
								<option value="1" checked>1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
							<label>ת.ז.</label>
							<input 
								style="width: 100px;"
								type="number"
								name="personId"
								placeholder="123456789"
								ng-model="formData.user.personId"
								ng-pattern="/[0-9]{9}/"
								maxlength="10"
								required />
						</div>
						<div class="order_inputs">
							<label style="width: 65px;">שם המזמין:</label>
							<input 
								style="width: 116px; margin-left: 12px;"
								type="text" 
								name="name"
								placeholder="שם מלא"
								ng-model="formData.user.name"
								required />
							<label style="width: 45px;">טלפון:</label>
							<input
								style="width: 139px;"
								type="tel"
								name="phone"
								placeholder="0501234567"
								ng-model="formData.user.phone"
								ng-pattern="/[0-9]{9}/"
								maxlength="10"
								required />
						</div>
						<div class="order_inputs">
							<label style="width: 44px;">דוא"ל:</label>
							<input
								style="width: 137px; margin-left: 10px;"
								type="email"
								name="email"
								placeholder="email@domain.com"
								ng-model="formData.user.email"
								required />
							<label style="width: 35px;">עיר:</label>
							<input 
								style="width: 151px;"
								type="text" 
								name="city"
								placeholder="עיר מגורים"
								ng-pattern="/[a-zA-Zא-ת,.]/"
								ng-model="formData.user.city" 
								required />
						</div>
						<div class="order_inputs">
							<label style="width: 30px;">רחוב:</label>
							<input 
								style="width: 65px; margin-left: 4px;"
								type="text" 
								name="street"
								placeholder="שם רחוב"
								ng-pattern="/[a-zA-Zא-ת,.]/"
								ng-model="formData.user.street" 
								required />
							<label style="width: 45px;">מס' בית:</label>
							<input
								style="width:17px; margin-left: 4px;"
								type="text" 
								name="homenumber"
								placeholder=""
								ng-model="formData.user.houseNumber" 
								required />
							<label style="width: 51px;">מס' דירה:</label>
							<input
								style="width: 17px; margin-left: 8px;"
								type="text" 
								name="appnumber"
								placeholder=""
								ng-model="formData.user.apartmentNumber" />
							<label style="width: 36px;">מיקוד:</label>
							<input
								style="width: 60px;"
								type="text" 
								name="zip"
								placeholder=""
								maxlength="7"
								ng-pattern="/[0-9]{7}/"
								ng-model="formData.user.zip"/>
						</div>
						<div style="position: relative; height: 57px;" class="clearfix">
							<button ng-click="register()" class="button_next" ng-disabled="orderForm.$invalid" style="left: 2px; top: 7px;">&nbsp;</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- THANK YOU DIALOG -->
	<div>
		<div
			id="thankyouDialog"
			ui-jq="dialog"
			ui-options="{title:'',autoOpen: false, height: 271, width: 532, modal: true, resizable: false, draggable: false, position: ['center', 110]}">
			<div ng-hide="checkOrderType()" id="thankyouWrapper">
				<div class="thankyouTitle">
					תודה בקשתכם התקבלה.
				</div>
			</div>
			<div ng-show="checkOrderType()">
				<div class="thankyouTitle">
					Thank you + download <a href="{{downloadUrl}}">link</a>
					or
					Set image as facebook cover <a href="//www.facebook.com/djabor?preview_cover={{photoId}}">link</a>
				</div>
			</div>
		</div>
	</div>
</div>